<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage DB</title>
</head>

<style>
    .admin-go{
	color: white;
}

.admin-go:hover {
	color: gray;
}
        .button {
        background-color: #008CBA; /* Green */
        border: none;
            border-radius: 5px;
        color: white;
        padding: 2px 5px;
            min-width: 70px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .button:hover {
        background-color: #3f3f3f;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 2px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    .input{
     width: 150px;
     height: 30px;
     border: 1px solid black;
     border-radius: 5px;
     color: #000000;
     font-size: 15px;
     font-weight: bold;
     background-color: white;
     text-indent: 10px;
   }

    .input:focus {
      outline: 4px dashed cornflowerblue;
      background-color: white;
    }
</style>
<body style="margin: 0;display: flex">
    <button onclick="add()" class="button" style="position: absolute; left: 9%;top:15%"> Add </button>
    <div style="width: 100%">
        <div class="row" style="display: flex;height: 50px;width:100%;background-color: #0b0b0f;color: white;">
            <span style="width: 80%;text-align: center;margin: auto;font-size: 28px">ER人转 Admin</span>
            <span style="width: 10%;text-align: center;margin: auto;">{{username}}</span>
            <span style="width: 10%;text-align: center;margin: auto;"><a class="admin-go" href="/">Logout</a></span>
        </div>
        <div  style="display: flex;">
            <span style="width: 19%;text-align: center;margin: auto;"></span>
            <span id="table" style="width: 62%;text-align: center;margin: auto;font-size: 28px">

            </span>
            <script src="../static/assets/js/jquery-1.11.1.js"></script>
            <script>
                update()

                function add() {
                     $.ajax({
                                type: "get",
                                url: "/add_resource",
                                success: function (res) {
                                    console.log(res)
                                }
                            })
                }

                function update() {

                    //let data = [{id:'1',name:'name1',url:'http://233'},{id:'2',name:'name2',url:'http://233'},{id:'3',name:'name3',url:'http://233'}]
                    let data = []
                    $.ajax({
                        type: "get",
                        url: "/api/getAll",
                        success: function (res) {
                            console.log(res)
                            data = res.list//{list:[]}
                            console.log(data)
                            let table = ''

                            const head1 = '<div class="row" style=\"background-color: #f0f0f0;display: flex;width: 100%\">'
                            const head2 = '<div class="row" style=\"background-color: grey;display: flex;width: 100%\">'
                            const foot = '</div>'

                            console.log(data)
                            for (let i = 0; i < data.length; i++) {
                                table += (i % 2 === 1 ? head1 : head2)
                                table += '<span style="width: 20%;height: 100%;margin: 10px auto">' + '<input class="input" id="name' + i + '" style="margin: 0 auto" value=\"' + data[i].name + '\"/>' + '</span>'
                                table += '<span style="width: 20%;height: 100%;margin: auto">' + '<input class="input" id="url' + i + '" value=\"' + data[i].url + '\"/>' + '</span>'
                                table += '<span style="width: 10%;height: 100%;margin: auto">' + '<input class="input" id="type' + i + '" value=\"' + data[i].type + '\"/>' + '</span>'
                                table += '<span style="width: 15%;height: 100%;margin: auto">' + '<button class="button" id="edit' + i + '">Edit</button>' + '</span>'
                                table += '<span style="width: 15%;height: 100%;margin: auto">' + '<button class="button" id="delete' + i + '">Delete</button>' + '</span>'
                                table += foot
                            }

                            document.getElementById('table').innerHTML = table

                            for (let i = 0; i < data.length; i++) {
                                document.getElementById('edit' + i).addEventListener("click", () => {
                                    let thisName = document.getElementById('name' + i).value
                                    let thisUrl = document.getElementById('url' + i).value
                                    let thisType = document.getElementById('type' + i).value
                                    let thisId = data[i].id
                                    $.ajax({
                                        type: "post",
                                        url: '/edit/' + thisId,
                                        dataType: "json",
                                        data: {
                                            title: thisName,
                                            path: thisUrl,
                                            type: thisType
                                        },
                                        success: function (res) {
                                            if (res.success === true) update()
                                            else alert(res)
                                        }
                                    })
                                    //console.log('edit:'+thisId+';name:'+thisName+';url:'+thisUrl)
                                })
                                document.getElementById('delete' + i).addEventListener("click", () => {
                                    let thisId = data[i].id
                                    $.ajax({
                                        type: "post",
                                        url: '/delete/' + thisId,
                                        success: function (res) {
                                            if (res.success === true) update()
                                            else alert(res)
                                        }
                                    })
                                })
                            }
                        }
                    })
                }

            </script>
            <span style="width: 19%;text-align: center;margin: auto;"></span>
        </div>
    </div>
</body>
</html>