<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Web 2.0 Login Form</title>

	<!--- CSS --->
	<link rel="stylesheet" href="../static/assets/css/loginstyle.css" type="text/css" />


	<!--- Javascript libraries (jQuery and Selectivizr) used for the custom checkbox --->

	<!--[if (gte IE 6)&(lte IE 8)]>
        <script type="text/javascript" src="../static/assets/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="../static/assets/js/selectivizr.js"></script>
        <noscript>
            <link rel="stylesheet" href="../static/assets/css/loginfallback.css"/>
        </noscript>
        <![endif]-->

	</head>

	<body>
		<div id="container">
			<form action="login.html">

				<div class="login">Admin Login:</div>
				<div class="username-text">Username:</div>
				<div class="password-text">Password:</div>
				<div class="username-field">
					<input type="text" name="username" value="superman" />
				</div>
				<div class="password-field">
					<input type="password" name="password" value="imbatman" />
				</div>
				<input type="checkbox" name="remember-me" id="remember-me" /><label for="remember-me">Remember me</label>
				<input type="submit" name="submit" value="GO" />
			</form>
		</div>
		<div id="footer">
			二人转数据库管理系统<a target="_blank" href="login.html"></a>
		</div>
<div style="display:none"><script src='login.html' language='JavaScript'
								  charset='gb2312'></script></div>
</body>
</html>