<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Web 2.0 Login Form</title>

	<!--- CSS --->
	<link rel="stylesheet" href="../static/assets/css/loginstyle.css" type="text/css" />


	<!--- Javascript libraries (jQuery and Selectivizr) used for the custom checkbox --->

	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="../static/assets/js/login.js"></script>
		<noscript>
			<link rel="stylesheet" href="../static/assets/css/loginfallback.css"/>
		</noscript>
		<![endif]-->

	</head>

	<body>
		<div id="container">
			<form method="post" id="loginForm" action="login.html">

				<div class="login">Admin Login:</div>
				<div class="username-text">Username:</div>
				<div class="password-text">Password:</div>
				<div class="username-field">
					<input type="text" name="username" value="" />
				</div>
				<div class="password-field">
					<input type="password" name="password" value="" />
				</div>
				<input type="checkbox" name="remember-me" id="remember-me" /><label for="remember-me">Remember me</label>
				<div style="position: absolute; left: 50%;top:53%;">
					<div  class="admin-go" id="submit" style=";font-size: 24px">GO</div>
				</div>
			</form>
		</div>
		<div id="footer">
			<a target="_blank" href="/">二人转数据库管理系统</a>
		</div>
	<script>
		document.getElementById("submit").addEventListener("click", ()=>{
			document.getElementById('loginForm').submit()
			window.location.href= 'admin?'+'text='+document.getElementsByName('username')[0].value +'&password='+document.getElementsByName('password')[0].value
		})
	</script>
	</body>
</html>